/* ------------HEADER------------- */
.header-wrapper {
    max-width: 1600px;
    width: 100%;
    height: 80px;
    margin: auto;
    
    display: flex;
    align-items: center;
    background: #000000;
    backdrop-filter: blur(2px);
}
.logo {
    text-decoration: none;
    display: block;
    width: 82px;
    height: 52px;
    margin-left: 13.75%;
    border: 1px solid #FFFFFF;   
    text-align: center;
    cursor: pointer;
    position: relative;
}
.logo-text{
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    /* or 23px */
    text-align: center;
    color: #FFFFFF;
}
.logo-bambo{
    background-image: url(../../assets/img/svg/bamboo.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 12.03px;
    height: 22.98px;
    left: 8.23px;
    top: 20.64px;
    
    /* background: transparent; */
    /* border: 1.18841px solid #FFFFFF;  */
    /* transform: matrix(-0.9, 0.52, 0.4, 0.88, 0, 0); */
}
.logo:hover{
    border: 1px solid #FE9013;
    transition: ease 0.3s;
}
.navigation{
    width: 535px;
}
.nav-items{
    display: flex;
    justify-content: space-around;

}
.nav-items li{
    list-style: none;
}
.nav-items li:first-of-type a{
    color: #FE9013;
}
.nav-items li:hover{
    color: #FE9013;
}
.nav-items li a{
    text-decoration: none; 
}
.nav-items li a,
.header-wrapper span a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
    position: relative;
}
.header-wrapper span a{
    text-decoration: none;  
}
.nav-items li a:hover,
.header-wrapper span a:hover{
    color: #FE9013;
}
.nav-items li a::before,
.header-wrapper span a::before{
    content: '';
    position: absolute;
    width:0%;
}
.nav-items li a:hover::before,
.header-wrapper span a:hover::before{
    width:100%;
    height: 2px;
    top: 115%;
    background-color:  #FE9013;
    transition: width ease 0.8s ;
}

.header-wrapper span{
    margin-left: auto;    
    margin-right: 13.75%;
}
.burger{
    display: none;
}
@media(max-width:1000px){
    .header-wrapper{
        width: 1000px;
    }
    .logo{
        margin-left: 3%;
    }
    .header-wrapper span{
        margin-right: 3%;
    }
}
@media(max-width:640px){
    .header-wrapper{
        width: 640px;
        height:34px;
        justify-content: space-between;
    }
    .logo{
        width: 46.93px;
        height: 29.03px;
        border: none;
        margin-left: 3.12%;
    }
    .logo-text{
        font-size: 12.2899px;
        line-height: 120%;
        /* or 15px */
        text-align: center;
    }
    .logo-bambo{
       top:8px;
       left:1px;
       transform: scale(70%);
    }
    .header-wrapper span, 
    nav{
        display:none;
    }
    .burger{
        display:block;
        width: 18px;
        height: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 3.12%;
        cursor:pointer;
    }
    .burger span{
        display: block;
        width: 18px;
        height: 2px;
        background: #FFFFFF;
        border-radius: 2px;
    }

}
@media(max-width:320px){
    .header-wrapper{
        width: 320px;
    }
}