*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/* ---------------HEADER------------- */
.header-wrapper {
    max-width: 1600px;
    height: 80px;
    margin: auto;
    padding-left: 220px;
    display: flex;
    align-items: center;
    background: #000000;
    backdrop-filter: blur(2px);
}
.logo {
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;   
    text-align: center;
    position: relative;
}
.logo-text{
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    /* or 23px */
    text-align: center;
    color: #FFFFFF;
}
.logo-bambo{
    background-image: url(../assets/img/svg/bamboo.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 12.03px;
    height: 22.98px;
    left: 8.23px;
    top: 20.64px;
    
    /* background: transparent; */
    /* border: 1.18841px solid #FFFFFF;  */
    /* transform: matrix(-0.9, 0.52, 0.4, 0.88, 0, 0); */
}
.navigation{
    width: 535px;
}
.nav-items{
    display: flex;
    justify-content: space-around;

}
.nav-items li{
    list-style: none;
}
.nav-items li a{
    text-decoration: none; 
}
.nav-items li a,
.header-wrapper span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
}
.header-wrapper span{
    margin-left: auto;    
    margin-right: 220px;
}
/* -------------MAIN---------- */
.main-wrapper{
    width: 1600px;
    margin: auto;
    padding: 390px 224px 0 220px;
    background: url(../assets/img/panda_bg.png),linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background-repeat: no-repeat;
}
/* main img{
    width: 1600px;
    height: 390px;
} */
.main-content{
    width: 1600px;
    height: 1482px; 
    padding-top: 40px;
}
.main-content_title{
    width: 1156px;
    height: 47px;
    /* margin: auto; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */    
    color: #FFFFFF;
    white-space: nowrap;
}
.main-content p{
    width: 1160px;
    height: 94px;
    margin: 10px 0 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */    
    color: #FFFFFF;
}
.donate-title{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    /* or3 */
    color: #FE9013;
}
.donate{
    width: 1160px;
    height: 954px;
    padding: 40px 92px 62px;
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    padding: 40px 92px 62px;
}
.donate h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    text-align: center;
    /* or3 */
    color: #FE9013;
}
.donate p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #333B41;
}
.animals-widget-container {
    width: 548px;
    height: 246px;
    margin: 60px auto 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-block {
    width: 175px;  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 11px;
}
.number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    /* identical to box height, or 58px */
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.number-block span{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #333B41;    
}
.mark-cross {
    margin-left: 30px;
    margin-right: 64px;    
    width: 14px;
    height: 14px;
    background-image: url(../assets/img/svg/cross.svg);
    position: relative;
    transform: translateY(-20px);
}
.pictire-animal {
    width: 284px;
    height: 246px;
    background-image: url(../assets/img/svg/bear.svg);
    background-repeat: no-repeat;
}
form{

}
form h6{
    width: 57px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #000000;
}
.progress-bar{
    width:976px ;
    height: 27px;
    padding: 8px 26px 9px;
    background: #404950;
    border-radius: 2px;
    display: flex;    
    justify-content: space-between;  
    position: relative;  
}
.progress-bar input{
    display: none;
}
.progress-bar label{    
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFEE2E; 
    position: relative; 
    z-index: 2; 
    cursor:pointer;
}
.progress-bar::after{
    content: '';
    width: 915px ;
    height: 2px;
    position: absolute;
    background: #72828E;
    z-index: 1;
    left: 31px;
    top:calc(50% - 1px)
}

.progress-bar label::before{
    content: attr(data-price);
    position: absolute;
    top: 33px;
    left:50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    /* or 36px */
    text-transform: uppercase;
    color: #333B41;
    transform: translateX(-50%);
}
.amount {
    width: 320px;
    height: 237.02px;
    margin: 92px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 40px;
}
#i9{
    width: 268px;
    height: 54px;
    padding: 9px 16px;
    position: relative;
}
#i9::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #929699;
}
label[for='i9']{
    position: relative;
    
}
label[for='i9']::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    background-image: url(../assets/img/svg/dollar.svg);
    top:20px;
    right: 16px;
    
}
#i10, #i11{
    display: none;
}
label[for='i10'], label[for='i11']{
    flex-basis: 25%;
    /* justify-self: flex-start; */
    position: relative;
}
label[for='i10']::before, 
label[for='i11']::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FE9013;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.amount button{
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.amount p{
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #333B41;
    
}
/* --------------------FOOTER */
.footer-wrapper{
    width: 1600px;
    height: 443px;
    padding:40px 220px 50px;
    margin:auto;
    background: #111115;

}
.logo-subscribe{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.subscribe {
    width: 367px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}
    .subscribe h3{
    width: 237px;
    height: 29px;
    flex-basis: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #FFFFFF;
}
.subscribe input{
    width: 228px;
    height: 42px;
    background-color: transparent;
    border: 0.7px solid orange;
    border-style: inset;
    border-radius: 2px;
    padding: 10px 7px 10px 10px;    
}
.subscribe input::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    /* Gray 4 */
    color: #BDBDBD;
}
.subscribe-btn{
    width: 129px;
    height: 42px;
    /* margin-left: 10px; */
    background: #F1F3F2;
    /* black_blue */
    border: 1px solid #333B41;
    border-radius: 5px;
}
.donate-btn{
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.row-2{
    height: 134px;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}
.row-2 nav{
    align-self: flex-end;
    
}
.footer-nav ul{
    width: 362px;
    display: flex;
    justify-content: space-between;
}
.prod-title{
    align-self: flex-end;
    width: 237px;
    height: 42px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.prod-title span{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    color: #FFFFFF;
    word-wrap: normal;
}
.social-link-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 12px;
}
.social-link{
    width: 110px;
    padding-left: 38px ;
    list-style: none;      
}
.social-link a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
    position: relative;
    
}
.social-link a:before{
    content:'';
    width:26px;
    height: 26px;    
    border-radius: 50%;        
    position: absolute;
    left: -38px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(196, 196, 196, 0.5);
}
.facebook a:before{
    background-image: url(../assets/img/svg/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.twitter a:before{
    background-image: url(../assets/img/svg/twit.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.youtube a:before{
    background-image: url(../assets/img/svg/Insta.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.instagram a:before{
    background-image: url(../assets/img/svg/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
}

